header {
	height:99; 
	width:1920;
}

.logo {
	
}

.nav {
	
}

.slider {
	height:720; 
	width:1920;
}

.intro {
	height:406; 
	width:1920;
}

.servicios {
	height:720; 
	width:1920;
}

.cuadricula {
	height:917; 
	width:1920;
}

.data {
	height:666; 
	width:1920;
}

footer {
	height:471; 
	width:1920;
}